#gomb{
    height: 30px;
    width: 100px;
}
form{
    border: solid, rgb(194, 194, 255);
    border-radius: 10px;
    background-color: rgb(194, 194, 255);
    text-align: center;
    padding-bottom: 20px;
    padding-top: 10px;
    width: 400px;
    height: 100px;
    margin: auto;
    font-size: 20px;
}

.visszaigazolas{
    background-color: white;
}